Authors: <b>Eslam Mohamed </b>&<b> Asmaa Khaled</b>
<h1>Introduction</h1>

Heart disease is one of the leading causes of death for people of most races. Heart disease: high blood pressure, high cholesterol, and smoking. Other key indicator include diabetic status, obesity (high BMI), not getting enough physical activity or drinking too much alcohol. Detecting and preventing the factors that have the greatest impact on heart disease is very important in healthcare.

 <h1>Dataset</h1> written by <b>Asmaa Khaled</b>

The dataset is an indication which variables have a significant effect on the likelihood of heart disease. It contains 18 variables (9 booleans, 5 strings and 4 decimals). In machine learning projects, "HeartDisease" can be used as the explonatory variable, but note that the classes are heavily unbalanced.

<h3>Working with the dataset</h3><br/>
<li>Pandas is a Python library used to analyze data.</li>
<li>NumPy is a Python library used for working with arrays.</li>

In [1]:
import pandas as pd
import numpy as np

<li>Loading dataset into DataFrame object.</li>

In [2]:
data = pd.read_csv('heart.csv')
# Visualizing 5 rows
data.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3.0,30.0,No,Female,55-59,White,Yes,Yes,Very good,5.0,Yes,No,Yes
1,No,20.34,No,No,Yes,0.0,0.0,No,Female,80 or older,White,No,Yes,Very good,7.0,No,No,No
2,No,26.58,Yes,No,No,20.0,30.0,No,Male,65-69,White,Yes,Yes,Fair,8.0,Yes,No,No
3,No,24.21,No,No,No,0.0,0.0,No,Female,75-79,White,No,No,Good,6.0,No,No,Yes
4,No,23.71,No,No,No,28.0,0.0,Yes,Female,40-44,White,No,Yes,Very good,8.0,No,No,No

<li>Features name & dataset information.</li>

In [3]:
# Features name
print(data.columns,'\n')

Index(['HeartDisease', 'BMI', 'Smoking', 'AlcoholDrinking', 'Stroke',
       'PhysicalHealth', 'MentalHealth', 'DiffWalking', 'Sex', 'AgeCategory',
       'Race', 'Diabetic', 'PhysicalActivity', 'GenHealth', 'SleepTime',
       'Asthma', 'KidneyDisease', 'SkinCancer'],
      dtype='object')

In [4]:
# Features data type
print(data.dtypes,'\n')

HeartDisease         object
BMI                 float64
Smoking              object
AlcoholDrinking      object
Stroke               object
PhysicalHealth      float64
MentalHealth        float64
DiffWalking          object
Sex                  object
AgeCategory          object
Race                 object
Diabetic             object
PhysicalActivity     object
GenHealth            object
SleepTime           float64
Asthma               object
KidneyDisease        object
SkinCancer           object
dtype: object

In [5]:
# Dataset capacity(row,columns)
print("Shape = ",data.shape,'\n')

# Dataset dimension
print("Dimension = ",data.ndim,'\n')

# Dataset size
print("Size = ",data.size)

Shape =  (319795, 18)

Dimension =  2

Size =  5756310

<h3>Data preprocessing</h3>written by <b>Eslam Mohamed</b>

<li>Checking for null or missing values</li>

In [6]:
# Checking the existance of null values
data.isnull().sum()

HeartDisease        0
BMI                 0
Smoking             0
AlcoholDrinking     0
Stroke              0
PhysicalHealth      0
MentalHealth        0
DiffWalking         0
Sex                 0
AgeCategory         0
Race                0
Diabetic            0
PhysicalActivity    0
GenHealth           0
SleepTime           0
Asthma              0
KidneyDisease       0
SkinCancer          0
dtype: int64

In [7]:
old_data = data

<li>Dropping unuseful features</li>

In [8]:
data = data.drop(['Race','AgeCategory','Diabetic','SkinCancer','MentalHealth','DiffWalking'],axis=1)

<li>Encoding categorical data using LabelEncoder</li>

In [9]:
from sklearn.preprocessing import LabelEncoder as le
new_data= pd.DataFrame()

In [10]:
# Using LabelEncoder to encode columns with string values, then appending the new data to a new DataFrame
x=0
for i in range(12):
    if data.iloc[:,i].dtype == 'object': ## excluding nominal columns
        encoded_data = le()            ## creating a LabelEncoder object
        encoded_data = encoded_data.fit_transform(data.iloc[:,i])  ## fitting the data
        new_data.insert(x,data.columns[i],encoded_data) ## appending the coresponding column into the new DataFrame
        
    else: 
        new_data.insert(x,data.columns[i],data.iloc[:,i]) ## appending the column without any changes (Nominal value)
    x+=1

In [11]:
new_data.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,Sex,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease
0,0,16.60,1,0,0,3.0,0,1,4,5.0,1,0
1,0,20.34,0,0,1,0.0,0,1,4,7.0,0,0
2,0,26.58,1,0,0,20.0,1,1,1,8.0,1,0
3,0,24.21,0,0,0,0.0,0,0,2,6.0,0,0
4,0,23.71,0,0,0,28.0,0,1,4,8.0,0,0

<li>Extracting the label & input columns</li>

In [12]:
x = new_data.iloc[:,1:]
y = new_data.iloc[:,0:1]

<li>Splitting the data into training & test set</li>

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state=42)

<li>Scaling the data using StandardScaler</li>

In [14]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [15]:
x_train

array([[-1.22957612, -0.83872164, -0.27132819, ...,  0.6287943 ,
        -0.3935923 , -0.19577244],
       [ 0.39144951, -0.83872164, -0.27132819, ..., -0.06728309,
        -0.3935923 ,  5.10797134],
       [ 0.87728552, -0.83872164, -0.27132819, ..., -0.76336047,
        -0.3935923 , -0.19577244],
       ...,
       [ 0.44962405,  1.19229068, -0.27132819, ...,  0.6287943 ,
        -0.3935923 , -0.19577244],
       [-0.95757085, -0.83872164, -0.27132819, ...,  0.6287943 ,
        -0.3935923 , -0.19577244],
       [ 1.26721215,  1.19229068, -0.27132819, ...,  0.6287943 ,
         2.54070011, -0.19577244]])

In [16]:
x_test

array([[-0.11010934,  1.19229068, -0.27132819, ..., -0.06728309,
        -0.3935923 , -0.19577244],
       [-1.00316711, -0.83872164, -0.27132819, ..., -0.76336047,
        -0.3935923 , -0.19577244],
       [ 0.47006375,  1.19229068, -0.27132819, ..., -0.76336047,
         2.54070011, -0.19577244],
       ...,
       [ 1.07853797, -0.83872164,  3.6855736 , ..., -1.45943786,
        -0.3935923 , -0.19577244],
       [-0.00633854, -0.83872164, -0.27132819, ...,  0.6287943 ,
        -0.3935923 , -0.19577244],
       [ 0.94332148, -0.83872164, -0.27132819, ..., -0.76336047,
        -0.3935923 , -0.19577244]])